:root {
  --main-bg-color: #212326;
  --secondary-bg-color: #27292d;
  --main-fg-color: #d9dfec;
  --secondary-fg-color: #a1a4aa;
}


* {
	font-family: 'Noto Sans';
	color: var(--main-fg-color);
}

input {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 8px;
	padding: 4px;
	cursor: pointer;
	border: 2px solid var(--main-bg-color);
	display: inline-block;
	font-family: 'Noto Sans';
	font-size: 16px;
	text-decoration: none;
	
	transition: all 0.5s;
}

input:hover {
	border-radius: 8px;
	border: 2px solid var(--secondary-fg-color);
}

input::placeholder {
	color: var(--main-fg-color);
}

html, body {
	display: flex;
	flex-direction: row;
	margin: 0px;
	height: 100%;
	width: 100%;
}

#menu, #nav, #chat {
	padding: 15px;
}

#menu, #nav {
	width: 10%;
	background-color: var(--main-bg-color);
}

#chat {
	background-color: var(--secondary-bg-color);
}

.nav_chat_item {
	margin-bottom: 5px;
}

.nav_chat_item > input {
	width: 100%;
}

.add_button {
	display: flex;
	justify-content: space-between;
}

.add_button input:first-child {
	min-width: 80%;
	margin-right: 5px;
}

#chat {
	width: 80%;
}

.header {
	text-align: center;
	font-size: 120%;
	margin-bottom: 10px;
}

#chat > #messages, #menu > #members, #nav > #chats {
	height: 94%;
	display: flex;
	flex-direction: column;
}

.message {
	background-color: var(--main-bg-color);
	border-radius: 8px;
	padding: 4px 8px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.message_date {
	color: var(--secondary-fg-color);
}

.message_author {
	font-style: italic;
}

.message, .member {
	margin-bottom: 6px;
}

.delete_button {
	display: inline-block;
	float: right;
}

#input_box {
	min-width: 90%;
}

#input_send {
	display: flex;
	justify-content: space-around;
}

#login {
	background-color: var(--main-bg-color);
	display: flex;
	width: 100%;
}

#login > form {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#login > form > input {
	margin-bottom: 10px;
}

#logout > form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.member {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.member_admin {
	font-weight: bold;
}